<!DOCTYPE html>
<html xmlns:th="http://www.thymeLeaf.org">
	<head>
		<meta charset="UTF-8"/>
		<script type="text/javascript" src="webjars/jquery/3.1.0/jquery.min.js"></script>
		<script type="text/javascript" src="webjars/bootstrap/4.4.0/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="webjars/bootstrap/4.4.0/css/bootstrap.min.cs" />
	</head>
	<body>
	<p>Welcome to <span th:text="${appName}">Our App</span></p>
		<div class="container">
			<div class="card">
				<div class="card-block">
					<table="table table-hover">
						<thread>
						<tr>
							<th>Username</th>
							<th>First name</th>
							<th>Last name</th>
						</tr>
						</thread>
						<tbody>
							<tr>
								<td>1 </td>
								<td>2 </td>
								<td>3 </td>
							</tr>
						</tbody>
						
					</table>
				</div>
			</div>
		</div>
	<body>
</html>